
.dot-date {
  position: relative;
  top: -2rem;
  border-radius: 50%;
  margin: 0rem auto -2.2rem;
  background: black;
  color: #fff;
  height: 4rem;
  width: 4rem;
  text-align: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;

  &__top {
    font-size: 0.7rem;
  }
}
