$primary: #333;
//$background: #444;
$family-primary: Montserrat, sans-serif;
$body-background-color: #E3E3E3;
$footer-padding: 1.5rem 1.5rem 2rem;

@import "~bulma";

.hero {
  padding-top: 3vw;
  padding-bottom: 2vw;
  background: $primary no-repeat url("/images/header-background.png") center center;
  background-size: cover;
  mask: url("/images/clip.svg") no-repeat top right;
  mask-size: cover;

  &-head {
    background: rgba(0, 0, 0, 0.3);
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

